<h1>New City</h1>

<%= render 'form', city: @city %>

<br>
<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-right">
    <%= link_to 'Back', cities_path %>
  </div>
  <div class="col-md-2"></div>
</div>
